body {
    background: #191d24;
    color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin-top: 50px;
}
.fullcontainer{

    height: 80vh;       
    width: 100vw;           
    display: flex;          
    justify-content: center;
    align-items: center;    
}
.game-container {
    
    background: #31363F;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}
#grid {
    margin: 70px 0;
    min-height: 100px;
}
.grid-row {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.grid-box {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 4px;
    font-size: 1.5em;
    line-height: 40px;
    background: #2d323a;
    color: #f3f3f3;
}
.grid-box.correct {
    background: #5aab61;
}
.grid-box.misplaced {
    background: #c9b235;
    color: #232323;
}
.grid-box.wrong {
    background: #545965;
}
input, textarea {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background: #23272e;
    color: #fff;
    margin-bottom: 10px;
}
button {
    background: #76ABAE;
    color: #111111;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
button:hover {
    background: #2ba7ad;
}
#editor {
    background: #23272e;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
}
